body{
background-image:url("shakil.jpg");

background-repeat:no-repeat;
background-size:cover;


}

.main{

	width:350px;
	border:1px solid #ddd;
	padding:10px;
    background-color:#ffffff30

}

.header {
	background-color:yellow;
	width:101%;
	border-radius:3px;
}
.header h2{
	padding:10px;
	color:blue;
	text-align:center;
}
	#firstid input{
	
	margin-bottom:10px;
	width:100%;
	
	padding-bottom:8px;
	padding-top:8px;
	padding-top:4px;
	color:black;
}

#shakil input {
	width:101%;
	background-color:yellow;
	color:blue;
	padding:5px;
	font-size:18px;
	font-weight:bold;
	margin-top:8px;
}


.spaan{
	margin-top:8px;
	color: white;
}
.element {
	width:101%;
	padding:5px;
	
}


.Hooby{
	color:white;
}
.main-con{width:350px;
	margin:auto;
	margin-top:150px;
}

